[formatters]
keys=minimal,detailed

[formatter_minimal]
format=%(message)s

[formatter_detailed]
format=
    %(levelname)s %(asctime)s [%(name)s:%(filename)s:%(funcName)s:%(lineno)d]
    %(message)s

[handlers]
keys=console,info,error

[handler_console]
class=StreamHandler
level=DEBUG
formatter=minimal
args=(sys.stdout,)

[handler_info]
class=handlers.RotatingFileHandler
level=INFO
formatter=detailed
args=(__import__("datetime").datetime.now().strftime("logs/info.log"), 'a', 1048576, 10)

[handler_error]
class=handlers.RotatingFileHandler
level=ERROR
formatter=detailed
args=(__import__("datetime").datetime.now().strftime("logs/error.log"), 'a', 1048576, 10)

[loggers]
keys=root

[logger_root]
level=INFO
handlers=console,info,error